body {
	background-color:  #FFFFFF;
	padding:20px;
	margin:20px;
	display:inline-block;	
}

h1 {
    color: #00ff00;
}

.nav li {
  display: inline;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.footer {
	background-color: orange;
	padding: 14px 10px;
	text-align: center;
}

.body button {
	margin-bottom: 10px;
}
