body {
	background-color:  #FFFFFF;
	display:flex;
	flex-direction:column;
	height: 100vh;
	
}

.wrap {
	flex: 1 1 auto;
	height:100%;
}

.wrap>.container>.container {
	padding:10px;
	margin:10px;
	overflow-x:hidden;
	overflow-y: auto;
	height:auto;
}

.container>.container p{
        word-wrap: normal;
}

.container>.container p.Merkuur{   
	margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #CCCCCC;
	background-image: url("/img/merkuur.png");
	background-repeat: no-repeat;
	background-position:left center;	
}

.container>.container p.Veenus{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #EFD9B1;
	background-image: url("/img/veenus.png");
	background-repeat: no-repeat;
	background-position:left center;   
}

.container>.container p.Maa{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #AcD890;
	background-image: url("/img/maa.png");
	background-repeat: no-repeat;
	background-position:left center; 
}

.container>.container p.Mars{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #FFA2B2;
	background-image: url("/img/mars.png");
	background-repeat: no-repeat;
	background-position:left center;
}

.container>.container p.Jupiter{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #FFCC99;
	background-image: url("/img/jupiter.png");
	background-repeat: no-repeat;
	background-position:left center;
}

.container>.container p.Saturn{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #FFCCCC;
	background-image: url("/img/saturn.png");
	background-repeat: no-repeat;
	background-position:left center;
}

.container>.container p.Uraan{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #CCFFFF;
	background-image: url("/img/uraan.png");
	background-repeat: no-repeat;
	background-position:left center; 
}

.container>.container p.Neptuun{
	margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #99CCFF;
	background-image: url("/img/neptuun.png");
	background-repeat: no-repeat;
	background-position:left center; 
}

.container>.container p.Pluuto{
    margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #DDD8E5;
	background-image: url("/img/pluuto.png");		
	background-repeat: no-repeat;
	background-position:left center;
}

h1 {
    color: #00ff00;
}

.nav {
padding:10px;
margin:10px;
 top:10px;
}

.nav li {
  display: inline;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.footer {
	bottom:0;
	background-color: orange;
	padding: 14px 10px;
	margin: 10px 10px 0px 10px; 
	text-align: center;
}
