body {
	overflow:hidden;
	padding:10px;
	height:100%;
	margin:10px;
	background-color:  #FFFFFF;
	display:flex;
	flex-direction:column;
}


.container>.container {
	overflow-y: auto;
	overflow-x:hidden;
	padding:10px;
	bottom:50px;
	top:40px;
	flex:2;
	height:auto;
	position:absolute;
	margin:10px;
}

.container>.container p{
        word-wrap: normal;
}

.container>.container p.Merkuur{   
	margin:0px;
	padding:3px 3px 3px 75px;
	background-color: #CCCCCC;
	background-image: url("/img/merkuur.png");
	background-repeat: no-repeat;	
}

.container>.container p.Veenus{
    margin-bottom:0;   
}

.container>.container p.Maa{
    margin-bottom:0;   
}

.container>.container p.Mars{
    
}

.container>.container p.Jupiter{
    
}

.container>.container p.Saturn{
    
}

.container>.container p.Uraan{
    
}

.container>.container p.Neptuun{
   
}

.container>.container p.Pluuto{
    
}

h1 {
    color: #00ff00;
}

.nav {
 position:absolute;
 top:10px;
  height: 30px;
flex:1;	
}

.nav li {
  display: inline;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.footer {
	position:absolute;
	bottom:0;
	background-color: orange;
	padding: 14px 10px;
	margin: 10px 10px 0px 10px; 
	text-align: center;
	flex:3;
}
